{% extends 'base.html' %}

{% block title %}
    My App - Home
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Welcome to My App!</h1>
        <p class="lead">This is a simple web application built with Django.</p>
        <hr class="my-4">
        <p>If you have any questions or feedback, please let us know.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>
{% endblock %}
