/* Style the body */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
h1{
    color: #098301;
}

/* Style the navigation bar */
.navbar {
  background-color: #333;
  overflow: hidden;
}

.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #4CAF50;
}

/* Style the container */
.container {
  margin: 20px auto;
  padding: 20px;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* Style the table */
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #4CAF50;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Style the form */
form {
  margin: 20px 0;
}

label {
  display: inline-block;
  width: 120px;
  font-weight: bold;
}

button[type="text"], button[type="number"], select {
  padding: 8px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

button[type="submit"], button[type="button"] {
  background-color: #45a049;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover, button[type="button"]:hover {
  background-color: #45a049;
}

input[type="submit"]:active, button[type="button"]:active {
  background-color: #45a049;
}

/* Style the error messages */
.errorlist {
  color: #e60000;
  margin: 0;
  padding: 0;
}

.errorlist li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Style the success messages */
.success-message {
  background-color: #d4edda;
  color: #155724;
  padding: 8px 16px;
  border-radius: 4px;
  margin: 20px 0;
}



a.delete-link {
    color: red;
}

a.delete-link:hover {
    color: #800000;
}

a {
  color: #45a049;
  text-decoration: none;
}

a:hover {
  color: #155724;
  text-decoration: underline;
}
